<footer>
    <section>
        <article class="article__footer">
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p class="info__footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="article__footer">
            <i class="fa-solid fa-gift"></i>
            <h4>Envio gratis desde $ 2500</h4>
            <p class="info__footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article class="article__footer">
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad de principio a fin</h4>
            <p class="info__footer">¿ No te gusta ? ¡ Devolvelo ! En Mercado Liebre, no hay nada que no puedas
                hacer, porque esta siempre protegid@.</p>
        </article>
    </section>
    <h6>Copyright © 1999-2023 MercadoLiebre S.R.L.</h6>
</footer>