<header>
    <section class="header__container">
        <section id="box__logo__search">
            <!-- logo mercado liebre -->
            <figure id="logo">
                <img src="./images/logo-mercado-liebre.svg" alt="logo mercado liebre">
            </figure>
            <!-- box search-->
            <form id="box__search">
                <input class="search" type="text" name="buscar" placeholder="Buscar productos y marcas">
                <button class="button__lupa">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </section>
        <article id="tdc">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </article>
    </section>
    <!-- navBar-->
    <nav>
        <ul>
            <li><a href="/">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
            <li>
                <a href="registro">Crea una cuenta</a>
                <i class="fa-regular fa-address-card"></i>
            </li>
            <li>
                <a href="login">Ingresa</a>
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
            </li>
            <li>
                <a href="#">Mis compras</a>
                <i class="fa-solid fa-basket-shopping"></i>
            </li>
        </ul>
    </nav>
    <!-- boton hamburguesa -->
    <button class="burger__menu">
        <i class="fas fa-bars"></i>
    </button>
</header>